.entrevistas{
    width: 100vw;
    
    h1 span{
        display: block;
    }
    .contenedorimagenes{
        width: 100vw;

        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        .img{
            max-width: 100%;
        }
    }
}