.entrevistas{
    width: 100vw;
    
    h2{
      @include h2;
        span{
            display: block;
        }
    }
    
    .contenedorimagenes{
        width: 100vw;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        .img{
            max-width: 100%;
        }
    }
}