@mixin h2 {
    color: $color-principal;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 2.5rem;
    text-align: left;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.fondoazul{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-5deg);
}

.episodios{   
    width: 100vw;
    transform: skewY(5deg);
    margin-top: 1em;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h2{
        @include h2;
        margin-top: 1em;
        color: $color-blanco; 
    }

    iframe{
        width: 100%;
        height: 14.5em; 
        border: 0; 
        padding: 0 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
    }
}