.contenedornosotros{
    display: flex;
    flex-direction: column;

    .imgtelefono{
    width: 100vw;
    height: 9.5%;
    }

    .nosotros{
        margin-bottom: 3.375rem;
        h1 span{
            display: block;
        }
    }
}