.fondo{
    width: 100vw;
    height: 21rem;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.novedades{
    margin: 1em 0;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2{
        @include h2;
        margin: .5em 0;
        color: $color-blanco;
        font-weight: 300;
        text-align: center;
        span{
            display: block;
        }
    }
    .segundoboton a{ 
        @include boton;     
    }
}