@mixin titulosresponsive { 
    font-size: 48px;
    font-weight: normal;   /*esta bien?? para que sea vea mas flaca*/
    padding-bottom: 2rem;
    letter-spacing: 0;
}

@media screen and (min-width: 768px){ /*VISION RESPONSIVE DESKTOP*/
    
    body{
    width: 100vw;
    /*max-width: 1440px;     /*????*/
        header{
            width: 100vw;
            height: 5rem;
            justify-content: space-between;
            padding-left: 6rem;
            
            .logo{
                width: 2.25rem;
                height: 2.25rem;
                padding-top: .5rem;  /*AGREGAR: TIENE 22PX DE MARGIN TOP Y 22 DE MARGIN BOTTOM*/
            }
            .btn-menu{
                display: none;
            }
            .open{
                display: none;
            }
            .close{
                display: none;
            }
            ul {
                width: 40vw;
                height: 10vh;
                margin-right: 3rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;

                li{
                background-color: $color-blanco;

                    a{
                        font-family: 'IBM Plex Mono', sans-serif;
                        font-weight: 500;
                        font-size: 1em;
                        color: $color-principal;
                        letter-spacing: 0;
                        text-align: center;
                        padding: .5em .5em;

                        &:hover{
                            color: $color-boton;
                            text-decoration: line-through;
                        }
                
                        &:active{
                            color:$color-gris; /*NO FUNCIONA ???*/
                            text-decoration: line-through;
                        }
                    }            
                }   
            }
        }

        .tituloprincipal{
            width: 70vw;
            /*width: 45.125rem;*/
            margin-left: 12.5rem;    
            padding-left: 0;

            h1{
                font-size: 64px;
                font-weight: normal;
                margin-top: 3rem;
                display: inline-block;
            }
            p{
                width: 39.25rem;
                font-size: 16px;    /*UNIFICAR P*/
                letter-spacing: 0;
                line-height: 24px;
            }
            
            .primerboton{
                width: 14.125rem;  /*no funciona, considera el de mobile*/
                height: 3.5rem;
                font-size: 18px;
                margin: 2.5rem 0;   /*deberia ser 3.5rem 0; pero hay un margin del p del mobile*/
                display: block;
            }
            .span {
                display: inline;
            }
            .punto{
                color: $color-azul;
            }
            .textoresponsive{
                display: inline-block;
            }
            .textomobile{
                display: none;
            }
        }

        .fondoazul{
            width: 100vw;
            height: 60rem;
           
            .episodios{
                padding-top: 4rem;  
                h2{
                    @include titulosresponsive;
                    margin-left: 12.5rem;
                }

                .spotify{
                    width: 90vw;
                    display: grid;
                    grid-template: repeat(2, 1fr) / repeat(2, 1fr);   
                    grid-gap: 2rem;
                    margin: auto;
                    padding-bottom: 14.5rem;
    
                    .iframe1{
                        grid-area: 1/1/2/1;
                    }
                    .iframe2{
                        grid-area: 1/2/2/2;
                    }
                    .iframe3{
                        grid-area: 2/1/3/1;
                    }
                    .iframe4{
                        grid-area: 2/2/3/2;
                    }
                }
            }
        }

        .contenedornosotros{
            width: 100vw;
            margin-top: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            
            .telefono{
                transform: translateY(-8em);
                margin: auto;
                width: 28.6rem;
                height: 41.25rem;
                margin-left: 12.5rem;
            }

            .nosotros{
                width: 50vw;
                left: 0;
                line-height: 1.5em;
                padding-bottom: 14rem;
                h2{
                    @include titulosresponsive;
                    span{
                        display: inline-block;
                    }
                }
                p{
                    width: 29rem;
                    font-size: 16px;   /*PONERSELO A TODOS !*/
                    margin-bottom: 1em;
                }
            }
        }

        .entrevistas{
            margin-top: -8rem;  /*???*/
            h2{
                @include titulosresponsive;
                margin-left: 12.5rem;
                span{    /*se puede unificar los span?*/
                    display: inline-block;
                }
            }
            .contenedorimagenes{
                width: 100vw;
                /*max-width: 100vw;*/
                box-sizing: border-box;
                display: grid;
                grid-template-areas: "imagen1 imagen2 imagen3"
                                     "imagen4 imagen5 imagen6";
                .imagen1{
                    grid-area: imagen1;
                }
                .imagen2{
                    grid-area: imagen2;
                }
                .imagen3{
                    grid-area: imagen3;
                }
                .imagen4{
                    grid-area: imagen4;
                }
                .imagen5{
                    grid-area: imagen5;
                }
                .imagen6{
                    grid-area: imagen6;
                }
            }
        }
        .topicos{
            width: 100vw;
            display: unset;
            
            h2{
                @include titulosresponsive;
                margin-left: 12.5rem;
                margin-top: 4rem;
                span{
                    display: inline-block;
                }
            }    
            .imagenes{
                margin: 2rem 10rem;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: baseline;

                figcaption{
                    margin-top: 1em;
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    span{
                        display: block;
                    }
                }
            }
        }
        .fondo{
            height: 32.375rem;
            .novedades{
                width: 100vw;
                padding-top: 13.313rem;
                h2{
                    @include titulosresponsive;
                    span{
                        display: inline-block;
                    }
                }
            }
        }
        
        footer{
            width: 100vw;
            height: 6rem;   /*??*/
            padding: 0 1rem;   /*??*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin: unset;
            box-sizing: border-box;

            .textofooter{
                width: 25rem;
                font-size: 16px;
                padding-left: 2em;   /*deberia ser tambien para iconos?*/
            }
            .iconos{
                width: 14.625rem;
                padding-right: 3rem;
                /*display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;*/
            }
        }
    }     
}