.topicos{
    margin-top: 2rem;   /*es mucha distancia?*/
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    @include h2;

    h2 span{
        display: block;  /*DEBERIA UNIFICAR ESTE CODIGO? SE REPITE*/
        /*align-content: flex-start;
        align-items: flex-start;*/
    }
    .imagenes{
        margin: 2em;
    }
}