@import 'variables';
@import 'header';
@import 'tituloprincipal';
@import 'episodios';                /*font-family: 'IBM Plex Mono', monospace;*/
@import 'entrevistas';              /*font-family: 'IBM Plex Sans', sans-serif;*/
@import 'topicos';
@import 'nosotros';
@import 'novedades';
@import 'footer';

*{
    margin: 0;   
    padding: 0; 
}

.contenedorprincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@import 'responsive'; /*Para escritorio,     COMPLETAR   */

/*
body{
    width: 100vw; DEBERIA PONERLO???
    background-color: $color-blanco; es necesario?
}*/