@import 'variables';
@import 'header';
@import 'tituloprincipal';
@import 'episodios';               
@import 'entrevistas';            
@import 'topicos';
@import 'nosotros';
@import 'novedades';
@import 'footer';
@import 'responsive';   /*Breakpoint 768px*/

*{
    margin: 0;   
    padding: 0; 
}

.contenedorprincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}