@charset "UTF-8";
header {
  width: 100vw;
  height: 10vh;
  padding: 0 1em;
  line-height: 8vh;
  font-family: 'IBM Plex Mono';
  /*CHEQUEAR DONDE MAS VA ESTA TIPOGRFIA*/
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; }
  header nav input {
    display: none;
    /*PARA QUITAR LOS BULLETS*/
    /*agregar fontsize y margin right?*/ }
  header nav .open {
    display: block;
    /*el icono de hamburguesa se ve*/ }
  header nav .close {
    /*sin clickear, no se ve la cruz*/
    display: none; }
  header nav input:checked ~ .open {
    /*cuando se clikea icono hamburguesa desaparece*/
    display: none; }
  header nav input:checked ~ .close {
    /*cuando se clickea la hamburg aparece la cruz*/
    display: block; }
  header nav input:checked ~ ul {
    /*CUANDO SE CLICKEA EL INPUT*/
    display: block; }
  header nav ul {
    width: 20rem;
    height: 14rem;
    display: none;
    position: absolute;
    right: 0;
    z-index: 1; }
    header nav ul li {
      list-style: none;
      width: 100%;
      height: 6vh;
      padding: .5em;
      background: #0000EC; }
      header nav ul li a {
        color: #FFFFFF;
        line-height: 1.375em;
        text-decoration: none;
        /*por qué deberia aclararlo?*/ }

.tituloprincipal {
  max-width: 100vw;
  box-sizing: border-box;
  margin-top: 2em;
  padding-left: .5em;
  font-family: 'IBM Plex Sans', sans-serif;
  /*cambiar*/
  font-weight: 300;
  /*funciona?*/
  font-size: 2rem;
  /*cambiar*/
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.625rem; }
  .tituloprincipal p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    /*???*/
    font-size: 1rem;
    color: #060A24;
    line-height: 1.375rem;
    letter-spacing: 0;
    padding-right: 1em;
    /*?*/
    margin-top: 1em; }
  .tituloprincipal .textoresponsive {
    display: none; }
  .tituloprincipal .spanuno {
    display: block; }
  .tituloprincipal .spandos {
    text-decoration: line-through; }
  .tituloprincipal .boton {
    margin-right: 1em;
    width: 18rem;
    padding: 1em;
    background-color: #00F3BB;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500; }
    .tituloprincipal .boton:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
      color: #FFFFFF; }

.fondoazul {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skewY(-3deg); }

.episodios {
  /*DEBERIA PONER EL TAMAÑO ACA Y NO EN EL IFRAME?*/
  width: 100vw;
  /*max-width: 100%;*/
  transform: skewY(3deg);
  margin-top: 2em;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #060A24;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1em;
  /*??*/
  text-align: left;
  padding-bottom: 2rem; }
  .episodios h2 {
    margin-left: 1rem;
    margin-top: 1em;
    margin-bottom: .5em;
    color: #FFFFFF; }
  .episodios iframe {
    width: 95%;
    height: 15rem;
    border: 0;
    padding: 0 .5rem;
    margin: 1em auto 1em auto;
    box-sizing: border-box;
    /*allowtransparency="true"   ???*/ }

/* lo que hizo laura:
iframe {
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 14.5em;
    border: 0;
    margin-top: 5%;
    padding: 0 5%;
}*/
/*font-family: 'IBM Plex Mono', monospace;*/
.entrevistas {
  width: 100vw;
  color: #060A24;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1em;
  /*??*/
  text-align: left;
  padding-bottom: 2rem; }
  .entrevistas h2 span {
    display: block; }
  .entrevistas .contenedorimagenes {
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; }
    .entrevistas .contenedorimagenes .img {
      max-width: 100%; }

/*font-family: 'IBM Plex Sans', sans-serif;*/
.topicos {
  margin-top: 2rem;
  /*es mucha distancia?*/
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  color: #060A24;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1em;
  /*??*/
  text-align: left;
  padding-bottom: 2rem; }
  .topicos h2 span {
    display: block;
    /*DEBERIA UNIFICAR ESTE CODIGO? SE REPITE*/
    /*align-content: flex-start;
    align-items: flex-start;*/ }
  .topicos .imagenes {
    margin: 2em; }

.contenedornosotros {
  display: flex;
  flex-direction: column; }
  .contenedornosotros .telefono {
    transform: translateY(-5em); }
  .contenedornosotros .imgtelefono {
    width: 22.5rem;
    max-width: 100vw;
    position: relative;
    text-align: center;
    z-index: 99; }
  .contenedornosotros .nosotros {
    /*margin-bottom: 3.375rem;*/
    color: #060A24;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    letter-spacing: 0;
    font-size: 1em;
    /*??*/
    text-align: left;
    padding-bottom: 2rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    /*???*/
    font-size: 1rem;
    color: #060A24;
    line-height: 1.375rem;
    letter-spacing: 0; }
    .contenedornosotros .nosotros h2 span {
      display: block; }

.fondo {
  width: 100vw;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 32%, 100% 0%, 100% 100%, 0% 100%); }

.novedades {
  margin: 1em 0;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .novedades h2 {
    color: #060A24;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    letter-spacing: 0;
    font-size: 1em;
    /*??*/
    text-align: left;
    padding-bottom: 2rem;
    color: #FFFFFF; }
    .novedades h2 span {
      display: block; }
  .novedades .boton {
    margin: 1em 0;
    /*unica diferencia, en titulo principal es margin-bottom*/
    width: 18rem;
    padding: 1em;
    background-color: #00F3BB;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500; }
    .novedades .boton:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
      color: #FFFFFF; }

footer {
  width: 100vh;
  /*display: block;
  position: relative;*/
  bottom: 0%;
  margin-bottom: 2em; }

.textofooter {
  /*FALTA QUE ESTÉ ALINEADO CON LOS ICONOS*/
  width: 100vw;
  line-height: 3em;
  text-align: center; }

.iconos {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

* {
  margin: 0;
  padding: 0; }

.contenedorprincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

/*VISION RESPONSIVE DESKTOP*/
@media screen and (min-width: 768px) {
  /*IGUAL O MAYOR A 769PX*/
  body {
    width: 100vw;
    /*max-width: 1440px;     /*????*/ }
    body header {
      width: 100vw;
      height: 5rem;
      justify-content: space-between; }
      body header .logo {
        width: 2.25rem;
        height: 2.25rem;
        margin-left: 6.25rem;
        /*AGREGAR: TIENE 22PX DE MARGIN TOP Y 22 DE MARGIN BOTTOM*/ }
      body header .btn-menu {
        display: none; }
      body header .open {
        display: none; }
      body header .close {
        display: none; }
      body header ul {
        height: 10vh;
        margin-right: 6em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly; }
        body header ul li {
          background-color: #FFFFFF; }
          body header ul li a {
            font-family: 'IBM Plex Mono', sans-serif;
            font-weight: 500;
            font-size: 1em;
            color: #060A24;
            letter-spacing: 0;
            text-align: center; }
            body header ul li a:hover {
              color: #00F3BB;
              text-decoration: line-through; }
            body header ul li a:active {
              color: #060A24;
              /*NO FUNCIONA ???*/
              text-decoration: line-through; }
    body .tituloprincipal {
      width: 70vw;
      /*width: 45.125rem;*/
      margin-left: 12rem;
      /*Es el margen de todos los h1 de los bloques-> unificar?*/
      padding-left: 0; }
      body .tituloprincipal h1 {
        font-size: 4rem;
        margin-top: 3rem;
        display: inline-block; }
      body .tituloprincipal p {
        width: 50vw; }
      body .tituloprincipal button {
        width: 14.125rem;
        /*no funciona, considera el de mobile*/
        height: 3.5rem;
        margin-top: 3.5rem;
        display: block;
        border: 0px; }
      body .tituloprincipal .span {
        display: inline; }
      body .tituloprincipal .punto {
        color: #0000EC; }
      body .tituloprincipal .textoresponsive {
        display: inline-block; }
      body .tituloprincipal .textomobile {
        display: none; }
    body .fondoazul {
      width: 100vw;
      height: 40rem;
      clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%); }
    body .episodios {
      padding: 5em 0;
      /*?*/
      display: grid;
      grid-template: repeat(3, 10% 1fr)/repeat(2, 1fr); }
      body .episodios h2 {
        margin-left: 12rem;
        grid-area: 1/1/1/1; }
      body .episodios iframe {
        width: 35vw;
        /*max-width: 35vw;    /*????*/
        height: 10rem; }
      body .episodios .iframe1 {
        grid-area: 2/1/2/2; }
      body .episodios .iframe2 {
        grid-area: 2/2/2/3; }
      body .episodios .iframe3 {
        grid-area: 3/1/3/2; }
      body .episodios .iframe4 {
        grid-area: 3/2/3/3; }
    body .contenedornosotros {
      width: 100vw;
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      align-content: center; }
      body .contenedornosotros .imgtelefono {
        /*MEJORAR POSICIONAMIENTO Y TAMAÑO*/
        width: 28.6rem; }
      body .contenedornosotros .nosotros {
        width: 35vw;
        /*deberia ser asi? modificar el tamaño con width?*/
        line-height: 1.5em; }
    body .entrevistas h2 {
      margin-left: 12rem; }
      body .entrevistas h2 span {
        /*se puede unificar los span?*/
        display: inline-block; }
    body .entrevistas .contenedorimagenes {
      width: 100vw;
      /*max-width: 100vw;*/
      box-sizing: border-box;
      display: grid;
      grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6"; }
      body .entrevistas .contenedorimagenes .imagen1 {
        grid-area: imagen1; }
      body .entrevistas .contenedorimagenes .imagen2 {
        grid-area: imagen2; }
      body .entrevistas .contenedorimagenes .imagen3 {
        grid-area: imagen3; }
      body .entrevistas .contenedorimagenes .imagen4 {
        grid-area: imagen4; }
      body .entrevistas .contenedorimagenes .imagen5 {
        grid-area: imagen5; }
      body .entrevistas .contenedorimagenes .imagen6 {
        grid-area: imagen6; }
    body .topicos {
      margin-top: 4em;
      align-items: unset;
      /*para cancelar mobile*/ }
      body .topicos h2 {
        margin-left: 12rem; }
        body .topicos h2 span {
          display: inline-block; }
      body .topicos .imagenes {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        body .topicos .imagenes p {
          margin-top: 1em; }
          body .topicos .imagenes p span {
            display: block; }
    body .novedades {
      width: 100vw;
      /*height: 15rem;
      background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
      clip-path: polygon(0 68%, 100% 53%, 100% 100%, 0% 100%);
      z-index: 1;
      h2 button{
          z-index: 5;
      }*/ }
    body footer {
      width: 100vw;
      margin: .5em 0 .5em 0;
      padding: .5em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      body footer .textofooter {
        align-items: flex-start;
        text-align: start;
        padding-left: 2em;
        /*deberia ser tambien para iconos?*/ }
      body footer .iconos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end; } }
/*
body{
    width: 100vw; DEBERIA PONERLO???
    background-color: $color-blanco; es necesario?
}*/

/*# sourceMappingURL=style.css.map */
